# работа со Stripe

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

# работа с БД

ENGINE=
NAME=
USER=
PASSWORD=
HOST=
PORT=

# работа с почтой

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=